/*
 * movie web css
 * author: Kevin Wei
*/

/**
 * Table of Contents
 *
 * 1.0 - Normalize
 * 2.0 - Sidebar
 * 3.0 - Masterbar
 */

/* 導入google字體 */
@import url(http://fonts.googleapis.com/earlyaccess/notosanstc.css);

/**
 * 1.0 - Normalize
 *
 * Normalizing styles have been helped along thanks to the fine work of
 * Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
 */

html {
	font-family: 'Noto Sans TC', sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body {
	margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
	display: block;
}

audio,
canvas,
progress,
video {
	display: inline-block;
	vertical-align: baseline;
}

a {
	background-color: transparent;
}

abbr[title] {
	border-bottom: 1px dotted;
}

img {
	border: 0;
}

svg:not(:root) {
	overflow: hidden;
}

figure {
	margin: 0;
}

hr {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

code,
kbd,
pre,
samp {
	font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
	color: inherit;
	font: inherit;
	margin: 0;
}

select {
	text-transform: none;
}

button {
	overflow: visible;
}

button,
input,
select,
textarea {
	max-width: 100%;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}

button[disabled],
html input[disabled] {
	cursor: default;
	opacity: .5;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}


textarea {
	overflow: auto;
	vertical-align: top;
}

optgroup {
	font-weight: bold;
}

/**
 * 2.0 - Sidebar
 *
 */
 .sidebar {
   width: 25%;
   float: left;
 }

 /**
  * 2.0 - Sidebar
  *
  */
  .masterbar {
    width: 74%;
    float: left;
  }
